<form action="/add" method="post">
    <h1>Добавление статьи</h1>

    <div class="form-group">
        <label for="title">Название</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="form-group">
        <label for="description">Описание</label>
        <input type="text" class="form-control" id="description" name="description">
    </div>
    <div class="form-group">
        <label for="text">Полный текст</label>
        <textarea class="form-control" cols="30" rows="10" id="text" name="text"></textarea>
    </div>

    <a href="/" class="btn btn-outline-secondary">Назад</a>
    <button type="submit" class="btn btn-outline-success">Добавить</button>

</form>